.--table {
    border: 1px solid black;
    border-radius: 20px;
}

th,
td {
    border: 1px solid black;
    border-radius: 20px;
}

section {
    display: flex;
    justify-content: center;
}

.boxes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 50%;
    margin-top: 5%;
}

.box {
    margin-right: 20px;
    margin-bottom: 20px;
}

.box--1 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 10px;
}

.box--2 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 10px;
}

.box--3 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 20px;
}

.box--4 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 15px;
}

.box--5 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 5px;
}

.box--6 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 20px;
}

.box--7 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 50%;
}

.box--8 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 8px;
}

.box--9 {
    width: 200px;
    height: 100px;
    border: 5px solid #a3c156;
    border-radius: 4px 30px 4px 30px;
}